.card_img{
    
    /*height: 100%;
    width: 100%;*/
    width:  300px; /*1*/
    height: 300px; /*1*/
    object-fit: cover;
    /*width: 10%;*/

}
.card_span{
    display: block;
    align-items: center;
    padding: 10px;
    font-size: 24px;
    font-family: sans-serif;
    text-align: center;
   /* margin-top: 10px;
    margin-bottom: 0px;*/
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    /*width: 20%;*/
    background-color: whitesmoke;
    width: 300px; /*card size probtional to img size 1*/
    margin: 20px 10px;
   
  }
  
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
   /* width: 600px;
    height: 600px; */
    transform: scale(1.05);
  }
.input_group{
    display: grid;
}
[hidden]{
    display:none;
  }

.btn{
    margin-top: 14px;
    border: none; /* Remove borders */
    color: white; /* Add a text color */
    padding: 14px 28px; /* Add some padding */
    cursor: pointer; /* Add a pointer cursor on mouse-over */
    background-color: #20232a;
}
.input_qnty{
    width: 40px;
    height: 25px;
}
